:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

$shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);





*,
*::before,
*::after {
    margin: 2px;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px    100% = 16px
    overflow-y: scroll;
    background: var(--greyLight-1);

    @media screen and (min-width: 900px) {
        font-size: 75%;
    }
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--greyLight-1);
}






.segmented-control {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width:
        /*20.4rem*/
        260px;
    height: 4rem;
    box-shadow: $shadow;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: relative;

    input {
        display: none;
    }

    >input:checked+label {
        transition: all .5s ease;
        color: var(--primary);
    }

    &__1,
    &__2,
    &__3 {
        width:
            /*7.8rem*/
            10.9rem;
        height: 3.6rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: var(--greyDark);
        transition: all .5s ease;

        &:hover {
            color: var(--primary);
        }
    }

    &__color {
        position: absolute;
        height: 3.4rem;
        width: 9.2rem;
        margin-left: .3rem;
        border-radius: .8rem;
        box-shadow: $inner-shadow;
        pointer-events: none;
    }
}

#tab-1:checked~.segmented-control__color {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked~.segmented-control__color {
    transform: translateX(9.8rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked~.segmented-control__color {
    transform: translateX(16.6rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


//nuevo 
/*  FORM  */
.form {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    &__input {
        width: 20.4rem;
        height: 4rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.4rem;
        padding-left: 1.4rem;
        box-shadow: $inner-shadow;
        background: none;
        font-family: inherit;
        color: var(--greyDark);

        &::placeholder {
            color: var(--greyLight-3);
        }

        &:focus {
            outline: none;
            box-shadow: $shadow;
        }
    }

}

/*  ICONS  */
.icon {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-between;

    &__account,
    &__home,
    &__settings {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        box-shadow: $shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        cursor: pointer;
        color: var(--greyDark);
        transition: all .5s ease;

        &:active {
            box-shadow: $inner-shadow;
            color: var(--primary);
        }

        &:hover {
            color: var(--primary);
        }
    }

}


/*BOTONES CON EFECTOS */

/*  BUTTONS  */
.btn {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;

    &__primary {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background: var(--primary);
        box-shadow: inset .2rem .2rem 1rem var(--primary-light),
            inset -.2rem -.2rem 1rem var(--primary-dark),
            $shadow;
        color: var(--greyLight-1);

        &:hover {
            color: var(--white);
        }

        &:active {
            box-shadow: inset .2rem .2rem 1rem var(--primary-dark),
                inset -.2rem -.2rem 1rem var(--primary-light);
        }
    }

    &__secondary {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        color: var(--greyDark);

        &:hover {
            color: var(--primary);
        }

        &:active {
            box-shadow: $inner-shadow;
        }
    }

    p {
        font-size: 1.6rem;
    }
}

/*  CHECKBOX  */
.checkbox { 
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    grid-gap: 3rem;
    justify-content: center;
    input { display: none; }
    
    &__1, &__2 {
      width: 6rem;
      display: flex;
      justify-content: center;
      label {
      box-shadow: $shadow;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .5rem;
      width: 2.8rem;
      height: 2.8rem;
        
      &:hover i { color: var(--primary); }
      
      i {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--greyDark);
        transition: .3s ease;
      }
    }
    
    & input:checked {
      & ~ label {
        box-shadow: $inner-shadow;
        i {
          color: var(--primary);
        }
      }
    }
  }
  }